$UC-DARK-TEAL: #006c91;
$UC-BLUE: #009abc;
$UC-HALE-NAVY: #414d61;
@mixin card {
    height: 300px;
    background-color: $UC-BLUE;
    border-radius: 1rem;
    color: white;
    img {
        height: 175px;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0px 0px;
    }
    h2 {
        margin: 0px;
        padding: .5rem 0px 0px .5rem;
    }
    p {
        padding: .5rem;
    }
    .favourite {
        position: absolute;
        color: white;
    }
    .favourite:hover {
        color: black;
    }
}

.card-small {
    @include card;
    width: 250px
}

.card-large {
    @include card;
    width: 525px
}